@font-face {
    font-family:"Open Sans Light";
    src:url("../fonts/OpenSans-Light.eot?") format("eot"),
    url("../fonts/OpenSans-Light.woff") format("woff"),
    url("../fonts/OpenSans-Light.ttf") format("truetype"),
    url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
    font-weight:normal;
    font-style:normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Light', sans-serif;
    margin-top: 2rem;
    color: #3a414e;
    /*text-transform: uppercase;*/
    color: #085191;
}

h1 {
    font-size: 1.8rem;
    margin-top: 1rem;
}

h2 {
    font-size: 1.6rem;
    margin-top: 1rem;
}

h3 {
    font-size: 1.2rem;
}

body{
    font-size: .9rem;
    color: #6F7071;
    font-family: 'Open Sans Light', sans-serif;
}

#header{
    font-size: .8rem;
}

a, .a, a:visited, a:active, a:hover{
    color: #085191 !important;
    text-decoration: none;
}

#body-wrapper .container {
    padding: 1rem 0rem 1rem 0rem;
    /*border-top: 1px solid rgba(172,179,194,.2);*/
}

.event-date{
    width: 200px !important;
}

.event-article .event-header .event-date{
    text-align: left;
    padding: 0px;
}

.event-container .event-listing {
    width: 100%;
}

.events-container .events-listing .event-item .event-content{
    width: 100%;
}

.events-container .events-listing .event-item .event-content .event-meta{
    width: 100%;
}

.event-article .event-header .event-date{
    position: relative !important;
}

.events-container .events-listing .event-item {
    border-bottom: 2px solid #efefef;
}

.event-button{
    padding: 0.2rem 0.5rem !important;
    color: #085191 !important;
    border-color: #085191 !important;
}
.event-button:hover {
    color: #fff !important;
    border: 2px solid #085191;
    background: #085191;
}

.event-tags a{
    border: none;
}

.back-button{
    margin-top: 2rem;
}

.label.label-secondary {
    color: #ffffff !important;
    background: #085191;
}

.label{
   font-size: .85rem;
}

.dropmenu ul li a.active, .dropmenu ul li a:focus, .dropmenu ul li a:hover {
    color: #085191!important;
}

.tags{
    margin-bottom: 2rem;
}

.treemenu li a {
    color: #ffffff !important;
    font-size: 1.8rem;
    padding-top: 1rem;
    line-height: 1.8rem;
}

.treemenu li a.active {
    color: #085191 !important;
}

.treemenu li {
    background: none;
}

.navbar-brand mr-10 {
    color: #ffffff !important;
}

.overlay-menu>.tree {
    text-align: center;
}

/*.mobile-menu {
    margin-left: 2rem;
    margin-top: 1rem;
}*/

.mobile-menu .button_container span{
    background: #085191;
}

.treemenu.treemenu-root{
    list-style: none;
}

.treemenu .toggler {
    display: none;
}

.dropmenu ul li a.active{
    font-style: italic;
}

body.header-fixed.header-animated #header.scrolled {
    height: 2.5rem;
}

/*.hero-image{
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}*/

/*.hero-image::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';
}*/

.hero-image{
    margin: 1rem 0rem 1rem 0rem;
    border-bottom: 1px solid rgba(172,179,194,.2);
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

.warning{
  color: #ff0000;
}

.button-main{
    display: inline-block;
    border: 2px solid #1BB3E9;
    border-radius: 4px;
    padding: 0.2rem 0.5rem !important;
    color: #ffffff;
    background-color: #085191 !important;
    border-color: #085191 !important;
}
.event-button:hover {
    color: #fff !important;
    border: 2px solid #085191;
    background: #085191;
}

#footer{
    border-top: 1px solid rgba(172,179,194,.2);
}

.categories{
    font-size: 1rem;
    margin-bottom: 2rem;
    padding-right: .5rem;
    /*text-transform: uppercase;*/
}

.active-category{
    font-style: italic;
}