<section id="footer" class="section bg-white">
    <section class="container {{ grid_size }}">
        <p><a href="/impressum-und-datenschutz">Impressum & Datenschutz</a></p>
    </section>
</section>
